<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-4">
      <div class="container">
        <a class="navbar-brand text-white">AGRO SPOT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-black"></span>
        </button>

        <div id="navbarNav">
          <div></div>
          <ul class="navbar-nav">
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp;<li class="nav-item active">
              <a class="nav-link text-white" routerLink="/home" style="text-decoration:none;">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="login-form">
    <form [formGroup]="loginForm">
      <h2>Login</h2>
      <h5 class="text-danger text-center"><b>{{errorMsg}}</b></h5>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input formControlName="username" [class.is-invalid]="name!.invalid && (name!.errors && name!.touched)"
            [class.is-valid]="name!.valid && (!name!.errors && name!.touched)" type="text" class="form-control" name="username"
            placeholder="Username" required>
        </div>
        <div *ngIf="name!.invalid && (name!.errors && name!.touched)">
          <small class="text-danger" *ngIf="name!.invalid && name!.errors!['required']">Username is Required</small>
          <small class="text-danger" *ngIf="name!.invalid && name!.errors['pattern']">Only
            Alphabets are Allowed</small>
            <small class="text-danger" *ngIf="name!.errors!['minlength']">Username must contain atleast 3 characters</small>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password"
            required [class.is-invalid]="password!.invalid && password!.touched"
            [class.is-valid]="password!.valid && password!.touched">
        </div>
        <div *ngIf="password!.invalid && password!.touched">
          <small class="text-danger">Password is required</small>
          <!--<small class="text-danger" *ngIf="password!.errors!['minLength']">Password must contain atleast 8 characters</small>-->
        </div>
      </div>

      <div class="form-group">
        <button type="submit" (click)="login()"  class="btn btn-primary btn-block btn-lg">Login</button>
      </div>
    </form>
    <div class="text-center" style="color: white; font-size: 18px; font-weight: bold;">Don't have an account? <a
        style="color: white;" routerLink='/signup'>Signup Here</a></div>
  </div>
  <footer class="text-center text-white fixed-bottom">
   
    <div class="text-center p-3" style="background-color:#217C7E;">
        © 2023 Copyright:
        <a class="text-white" href="/home" style="text-decoration:none;">AGROSPOT</a>
    </div>
  
  </footer>
</body>

</html>